*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 60%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 15px 20px 40px 0;
    
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
}
.row img{
    width: 100%;
}
.text-brand{
    font-size: 13px;
}
.text-price{
    font-size: 13px;
    font-weight: 900;
    color: red;
}
.sale{
    text-decoration: line-through;
}
.sale-tag{
    position: absolute;
}